<div class="container">

  <h2>Hymns</h2>

  <!-- SEARCH -->
  <div class="search-box">
    <input
    type="text"
    placeholder="Search hymns..."
    [ngModel]="searchTerm"
    ngChange="searchHymns()"
  />
  <button ngClick="searchHymns()">Search</button>
  </div>

  <button (click)="toggleShowFavoritesOnly()">
    {{showFavoritesOnly ? 'Show All Hymns' : 'Show My Favorites'}}
  </button>

  <!-- HYMN LIST -->
  <div class="hymn-list">
    <div *ngIf="filteredHymns.length > 0; else noHymns">

    <div class="card" *ngFor="let hymn of filteredHymns">
      <h3>{{ hymn.title }}</h3>

      <pre class="hymn.lyrics">
{{ hymn.lyrics }}
      </pre>

      <button (click)="openModal(hymn)">
        View
      </button>

      <button
      class="favorite-btn"
      (click)="toggleFavorite(hymn)">
      {{isFavorite(hymn.id)?'❤️' : '🤍'}}
    </button>
    </div>

  </div>
  </div>

  <ng-template #noHymns>
    <p>No hymns found.</p>
  </ng-template>

  <!-- pagination-->
   <div class="pagination" *ngIf="lastPage > 1">

    <button
    (click)="goToPage(currentPage - 1)"
    [disabled]="currentPage === 1">
    Previous
    </button>

  <button
    *ngFor="let page of pages"
    (click)="goToPage(page)"
    [class.active]="page === currentPage">
    {{ page }}
    </button>

    <button
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage === lastPage">
    Next
    </button>

  </div>

  <!-- Modal -->
   <div class="modal-overlay" *ngIf="isModalOpen">

    <div class="modal">
      <button class="close-btn" (click)="closeModal()">x</button>

      <h2>{{selectedHymn?.title}}</h2>

      <p class="lyrics">
        {{selectedHymn?.lyrics}}
      </p>
    </div>


   </div>




</div>

